body {
	background-color: #fff;
}

.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	min-height: 500px;
	position: relative;
	z-index: 1;
}

.text-content {
	position: absolute;
	left: 650px;
	height: 425px;
	width: 600px;
	padding-top: 75px;
}

h3 {
  padding-left: 38px;
  display: block;
  font-size: 1.17em;
  background: -webkit-linear-gradient(#FF0000, #FF6600, #FF9933, #FFCC00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.sf-logo {
	background-image: url('../images/sf-logo.png');
	width: 682px;
	height: 314px;
	display: none;
}

.jquery-logo {
	background-image: url('../images/jquery-logo.png');
	width: 500px;
	height: 172px;
	display: none;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.brought-by, .controls {
	display: none;
	color: #000;
	font-family: 'VT323';
	font-size: 50px;
	width: 600px;
}

.brought-by {
	text-align: center;
	margin-top: 100px;
}

.controls ul {
	font-family: 'VT323';
	list-style: none;
	width: 50%;
	color: black;
	font-size: 24px;
	line-height: 45px;
	margin-top: -53px;
}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool{
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 520px;
	float: left;
}
